{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
       <h1>Sign Up</h1>
       <form class="site-form" action="/accounts/signup/" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
              <button class="btn btn-outline-success" type="submit" value="SignUp">Sign Up</button>
       </div>
       </form>

       <div class="border-top pt-3">
                     <small class="text-muted">
                         Already Have An Account? <a class="ml-2" href="#">Sign In</a>
                     </small>
       </div>

{% endblock %}